/* Comfortaa */

/* light 300 */ @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* regular 400 */ @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* medium 500 */ @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
/* semibold 600 */ @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
/* bold 700 */ @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

/* Poppins */

/* regular 400 */ @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* regular 400 italic */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}




/* nav bar start */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: .5vw 1vw;
    background: linear-gradient(
        to right,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green,
        red,
        green
        );
    }
    
    .logo {
        width: 5vw;
    }
    
    .nav-items {
        display: flex;
        list-style: none;
    }
    
    .nav-items .nav-link {
        margin-left: 1vw;
    }
    
    .nav-link {
        font-family: "Comfortaa";
        color: white;
        text-decoration: none;
    }
    
    .nav-link:hover {
        text-decoration: underline;
    }
    
    .burgerbar, .menu{
        display: none;
    }
    /* nav bar end */
    



    /* main content start */
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container{
        margin-left: 10%;
        margin-right: 10%;
    }

    h1{
        
        font-family: "Comfortaa";
        text-decoration: none;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    h2{
        font-size: 25px;
        font-family: "Comfortaa";
        text-decoration: none;
    }

    .text1{
        margin-bottom: 25px;
    }

    .text2{
        font-size: 20px;
    }


    .img1{
        margin: 10vw; 
    }

    .kontakt{
        display: flex;
        margin-bottom: 10vw;
        background-color: rgba(0, 119, 6, 0.332);
       
        box-shadow: 0px 0px 20px black;
}

    .kontakt-data {
        box-shadow: 0px 0px 20px black;
        color: rgb(255, 255, 255);
        background-color: green;
        border-radius: 5px;
        padding: 5% 1%;
        width: 50vw;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 5%;
        
        
      }
      .kontakt-heading {
        font-size: 25px;
        
      }
      .kontakt-text {
        font-weight: 400;
        margin-bottom: 20px;
      }
      
      .kontakt-form {
        
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .kontakt-input {
        font-family: "Poppins", sans-serif;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px solid black;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
      }
      
      .contact-btn {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 5%;
        background-color: rgba(222, 2, 2, 0.92);
        color: white;
        font-size: 18px;
        cursor: pointer;
        outline: none;
      }
      
      .contact-btn:hover {
        background-color: red;
      }
       
      .kontakt-input:focus {
        border: 1px solid red;
      }

      .send{
        display: none;
      }

      .succes{
        display: block;
        color: red;
      }
    
      .tilmeld-box{
        display: flex;
        margin-bottom: 20px;
        
      }
    
      .kontakt-input2 {
        padding: 10px;
        margin-right: 20px;
        margin-top: 10px;
        height: 35px;
        width: 35px;
        font-family: "Poppins", sans-serif;
        border: 1px solid black;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
      }
    
      .kontakt-input2:focus {
        border: 2px solid yellow;
      }
      
      .imgkontakt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      
      .img2, .img3{
        width: 80%;
        margin-right: 10vw;
        padding-bottom: 0.5vw;
      }

      .img3{
        padding-top: 0.5vw;
        padding-bottom: 0;
      }

  
     

    

    /* main content end */


    
    
    /* footer start */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vw;
    background-color: black;
    color: white;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
    padding: .2vw .5vw;
}
 
.footer-logo{
    height: 100%;
}
.footer-text{
    padding-left: 2vw;
}
/* footer end */
    



    @media screen and (max-width: 768px) {
    
    /* burger menu start */
    .navbar {
      display: none;
    }

    .burgerbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: linear-gradient(
            to right,
            red,
            green,
            red,
            green,
            red,
            green,
            red,
            green,
            red,
            green
        );
    }

    .burger-logo{
        width: 20vw;
        padding: 1vw;
    }

    .menu-toggle {
        cursor: pointer;
        padding: 3vw;
    }
      
    .burger-icon {
        width: 3.5vw;
        height: .6vw;
        background-color: white;
        margin: .5vw 0;
    }
      
    .menu {
        display: none;
    }
      
    .active {
        display: block;
    }

    .burger-menu{
        display: flex;
        align-items: flex-end;
        flex-flow: column nowrap;
        width: 100%;
        background-color: black;
    }

    .burger-items{
        display: flex;
        align-items: flex-end;
        flex-flow: column nowrap;
        margin-top: 1vw;
        margin-bottom: 1vw;
        padding-right: 3vw;
        list-style: none;
    }

    .burger-link{
        font-family: "Comfortaa";
        color: white;
        text-decoration: none;
    }

    .burger-link:hover {
        text-decoration: underline;
      }
    
    /* burger menu end */




    /* mobile footer start */
    footer{
        height: 7vw;
        font-size: 1.8vw;
    }
 
    .footer-logo{
        display: none;
    }
    /* mobile footer end */

    .kontakt{
        flex-direction: column;
        width: 100vw;
    }

    .kontakt-data{
       width: 80vw;
    }

    .imgkontakt{
        width: 100vw;
        height: 100vw;
        margin-bottom: 50%;
    }

    .img2{
        width: 100%;
        margin-bottom: 10%;
        padding: 10%;
    }

    .img3{
        height: 80vw;
        width: 100%;
        padding: 10%;
    }

}